.bottom-bar {
    margin-left: -8px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.tablink img{
    width: 40px;
    height: 40px;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 2px;
  font-size: 17px;
  width: 25%;
}


.tabcontent {
    padding-bottom: 45px;
}
